@import url("style/")
*{/*seletor universal para resetar as bordas da paginas*/
    padding:0px ;
    margin:0px ;
}

:root{/*seletor raiz para variaveis*/
    --cor-de-fundo:#bcbcee
    --cor-de-fundo:ffd000;

}
body{/*seletor body*/
    background-color: var(--cor-de-fundo);
}
h1{
background-color: aquamarine;
}