@import url("style/header.css");

*{ /*Seletor universal para resetar as bordas da páginas*/
    padding:0px;
    margin:0px;
}


:root{/*seletor raiz para variáveis*/
    --cor-de-fundo:rgb(117, 0, 128);
    --cor-da-letra:BLACK;
    --cor-de-fundo:PURPLE;
    --cor-da-letra:BLACK;
    --cor-branco:white;
}
body{/*seletor body*/
    background-color:var(--cor-de-fundo)
}
